@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "Highcharts";
}
<h1>Gráfico de Coluna : @ViewBag.Title</h1>
<hr />
<div class="row">
    <div>
        <div class="col-md-12 col-md-6">
            @(Model)
        </div>
    </div>
</div> 